html, body {
  margin: 0 auto;
  border-radius: 4px;
  background-color: #F6F6F6;
  font-family: 'Lobster', cursive;
}

.content {
  width: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}