.form-label {
  font-size: 1.2rem;
    margin-left: 35%;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-6rem);
    position: relative;
}

.form-input:focus {
  outline-color: white;
}

.form-input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: .8rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(249, 246, 246, 0.9);
  outline-color: rgb(179, 179, 179);
  width: 70%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  transform: translateY(6rem);
}