.form-group {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(-2rem);
  position: absolute;
  right: 48%;
}

.form-input:focus {
  outline-color: white;
}

.form-input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: .8rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(249, 246, 246, 0.9);
  outline-color: #b3b3b3;
  width: 70%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  transform: translateY(1rem);
}

.btn {
  width: 93px;
  border: 1px solid lightblue;
  border-radius: 4px;
  margin-left: 4px;
  background-color: #aadcec;
}

.btn:focus {
  outline-color: lightblue;
}