.form-group {
  display: flex;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  // width: 100%;
  height: 3rem;
}

.form-input:focus {
  outline-color: white;
}

.form-input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: .8rem 2rem;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);
  background-color: rgba(249, 246, 246, 0.9);
  outline-color: #b3b3b3;
  width: 70%;
  display: block;
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  transform: translateY(1rem);
}

.btn {
  width: 4rem;
  border: none;
  border-radius: 16px;
  margin-left: 12px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.25);
  background-color: rgba(249, 246, 246, 0.9);
}

.btn:focus {
  outline: none;
}