.weather-box {
  width: 100%;
  height: 100vh;
  background: #F6F6F6;
  margin-top: 10vh;
}

.city {
  margin: 0;
}

.country {
  margin: 0;
}

.date {
  margin: 0;
  color: rgba(0,0,0,.40)
}

.todays-weather {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 0;
    h1 {
      margin: 0
    }
}

.forcast-box {
  display: flex;
  min-height: fit-content;
}

.forcast-items {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  border-radius: 4px;
  padding: 12px;
  margin: 4px;
  height: 10vh;
}