html {
  margin: 0 auto;
  background: linear-gradient(80deg, #f0efef, #6f7aed);
}

.content {
  width: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box {
  border: 3px solid white;
  border-radius: 4px;
  width: 30%;
  height: 70vh;
  background: rgb(249 246 246 / 90%);
}